.block-perfil__container-info-user {
    display: flex;
    padding: 60px 0;
    justify-content: center;
    gap: 40px;
}

.block-perfil__avatar {
    width: 170px;
    height: 170px;
    background-color: rgb(122, 122, 122);
    border-radius: 100px;
    object-fit: cover;
}

.block-perfil__container-data {
    color: black;
    display: flex;
    width: 500px;
    flex-direction: column;
    gap: 10px;
}

.block-perfil__fullname,
.block-perfil__username {
    margin: 0;
}


.block-perfil__top-data {
    display: flex;
    gap: 20px;
}

.block-perfil__options {
    display: flex;
    height: min-content;
    gap: 10px;
}


.btn-option {
    cursor: pointer;
    width: min-content;
    white-space: nowrap;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 35px;
    background-color: rgb(236, 236, 236);
}

.btn-more {
    width: 35px;
}

.block-perfil__fullname {
    font-size: 30px;
}

.block-perfil__options-feed {
    display: flex;
    gap: 10px;
    justify-content: center;
    border-bottom: 1px solid rgb(228, 228, 228);
}



.block-perfil__option {
    display: flex;
    cursor: pointer;
    height: 35px;
    width: 100px;
    box-sizing: border-box;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.block-perfil__container-icon-heart p {
    margin: 0;
    text-wrap: nowrap;
}


.icon-option-feed:hover {
    color: rgb(0, 0, 0);
}


.active-option {
    color: rgb(0, 0, 0);
    border-bottom: 3px solid black;
    transition: all 10ms;
}

.deactivate-option {
    color: rgb(199, 199, 199);
}

.social-links {
    display: flex;
    gap: 10px;
    flex-direction: row;
}