.block-photos {
    padding-top: 20px;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 200px;
    max-height: 87.8vh;
    overflow-y: auto;
}

.container-main__info-box {
    color: rgb(134, 134, 134);
}

.block-photos__container-columns {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.column {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 420px;
}

.photos-main-loader {
    width: 48px;
    height: 48px;
    border: 5px solid #000000;
}